.continator-meniu{
    display: flex;
    padding: 0px 0px 0px 30px;
    background-color: #efede4;
    margin: 30px 0px 0px 0px;
    justify-content: space-between;
}

html, body {
    margin: 0px;
    padding: 0px;
}
.logo{
    margin-top: 15px;
    margin-bottom: 15px;
}
.meniu-navigare{
    display: flex;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    margin-right: 25%;
}

.lista-elemente{
    display: inherit;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.element-meniu{
    display: block;
    padding: 0px;
    height: 100%;

}

.element-meniu:hover{
    background-color: #6b6b6b;
    color: white;
}

ul{
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
    color: black;
    height: inherit;
}

li{
    width: max-content;
    margin: 0px 20px 0px 0px;
    padding: 0px;
}


