.continator-meniu{
    padding: 0px 15px 0px 15px;
    display: flex;
    background-color: #efede4;
    margin: 30px 0px 0px 0px;
    justify-content: space-between;
    
}

html, body {
    margin: 0px;
    padding: 0px;
}
.logo{
    height: fit-content;
    width: fit-content;
    align-self: center;
}
.logo > img{
    max-width: 100%;
    height: auto;
}
.meniu-navigare{
    display: flex;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    margin-right: 5%;
    height: 100%;
    align-self: center;
}

.lista-elemente{
    display: inherit;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.element-meniu{
    display: inherit;
    margin: 0px;
    height: 100%;
}
.element-meniu>a{
    padding: 25px 10px 25px 10px;
    margin: 0px;
    height: 100%;
}
.element-meniu>a:hover{
    background-color: #6b6b6b;
    color: orange;
    transition-duration: .5s;
}
.special>a{
    background-color: orange;
    color: black;
}
.special>a:hover{
    background-color: rgb(128, 83, 0);
    color: white;
    transition-duration: .5s;
}
ul{
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
    color: black;
    
}


